CompileFlags:
  Add:
    - -xc++
    - -std=c++20
    - -Wall
    - -Wno-missing-prototypes
    - -DLOCAL
    - -I/home/sanchay/code/include
    - -I/Users/sanchay.kumar/code/include
Index:
  Background: Skip
